.session {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
    }

    img {
        width: 200px;
        height: 200px;
        margin: auto;
        display: block;
    }

    &__button {
        margin: 10px;
        width: 120px;
        height: 50px;
    }
}

.controls {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {

    &__current {
        font-size: 1.3rem;
    }

    &__total {
        font-weight: 700;
        font-size: 1.5rem;
    }
}